@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;500;700&display=swap');

* {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 16px;
    color: #6B7082;
}

h2 {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    color: black;
}

h3 {
    font-weight: 300;
    font-size: 18px;
}

h4 {
    font-weight:300;
    font-size: 14px;
    line-height: 17px;
}

p {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1.5px;
}

main {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #19A1AE;
    background-image: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg);
    background-position: left 50vw top 45vh, right 50vw bottom 45vh;
    background-repeat: no-repeat;
}

.hero-card {
    position: relative;
    height: 23.375rem;
    min-width: 20.375rem;
    max-width: 21.875rem;
    background-color: #FFF;
    border-radius: 15px;
    overflow: hidden;
}

.card-pattern {
    width: 100%;
    height: 8.75rem;
}

.hero-pic {
    position: absolute;
    left: 50%;
    top: 23%;
    transform: translateX(-50%);
    border: solid .3rem white;
    border-radius: 50%;
    z-index: 2;
}

.container-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    flex-direction: column;
}

.name-section {
    padding-top: 4.5rem;
}

.name-section > div {
    column-gap: .6rem;
}

.name-section > h4 {
    padding-top: .5rem;
}

.line-br {
    height: 1px;
    width: 100%;
    background-color: #E8E9EC;
    margin-top: 1.5rem;
}

.stats-container{
    margin-top: 1.5rem;
    justify-content: space-around;
}

.stats-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stats-box > p {
    margin-top: .5625rem;
}